In [1]:
import pandas as pd

C:\Users\r555s\AppData\Local\Temp\ipykernel_14692\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [29]:
df = pd.read_csv('sales.csv')
df.head()

,#nvoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [27]:
item_to_quantity_df = df.groupby('Description')['Quantity'].sum().to_frame()

In [28]:
item_to_quantity_df.sort_values('Quantity',ascending=False).head()

                                    Quantity
Description
WORLD WAR 2 GLIDERS ASSTD DESIGNS     108545
WHITE HANGING HEART T-LIGHT HOLDER     93050
ASSORTED COLOUR BIRD ORNAMENT          81306
JUMBO BAG RED RETROSPOT                78090
BROCADE RING PURSE                     70700

In [46]:
df['sales']=df['Quantity']*df['Price']

In [47]:
# df['InvoiceDate']=pd.to_datetime(df['InvoiceDate'])
# df['Date']=df['InvoiceDate'].dt.date

In [48]:
df_france = df[df['Country'] == "France"]

In [49]:
df_france = df_france.groupby("InvoiceDate")['sales'].sum().to_frame()

In [50]:
df_france.head()

                      sales
InvoiceDate
2009-12-01 09:28:00  426.30
2009-12-01 12:09:00   -5.95
2009-12-01 12:52:00  603.94
2009-12-02 10:28:00  -28.95
2009-12-02 16:24:00  578.28

In [51]:
df_france.sort_values("sales", ascending=False).head()

                        sales
InvoiceDate
2010-08-09 13:10:00  11880.84
2011-10-28 07:39:00   8895.76
2010-05-06 11:50:00   6564.37
2011-10-11 14:52:00   4279.71
2010-10-11 10:56:00   4215.74

In [66]:
df['InvoiceDate']=pd.to_datetime(df['InvoiceDate'])
# df['Date']=df['InvoiceDate'].dt.date
df['Date']=pd.to_datetime(df['InvoiceDate'].dt.date)

In [67]:
nbs   = df[df['Date']==pd.Timestamp('2011-06-22')]

In [68]:
nbs['Customer ID'].nunique()

57

In [69]:
df['InvoiceDate']=pd.to_datetime(df['InvoiceDate'])
df['Date']=pd.to_datetime(df['InvoiceDate'].dt.date) #converting to pandas datetime format

ans=df[df['Date']== pd.Timestamp('2011-06-22')] # using pandas timestamp to query in datetime format
ans['Customer ID'].nunique()

57